@media print{
  .col-md-offset-3, .col-lg-offset-2{
    margin-left: 0 !important;
  }

  .col-md-6, .col-lg-5 {
    width: 100% !important;
  }
  .no-print, .no-print *{
    display: none !important;
  }
  .page {
    page-break-after: always;
    page-break-inside: avoid;
  }
  body {
    a {
      color: $red-color !important;
    }
    a[href]:after {
    content: none !important;
    }
    .icon:before { color:$red-color !important; }
    .icon {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 36pt;
      font-family: "Roboto-Regular", sans-serif;
      margin-bottom: 15px;
      margin-top: 70px;
      text-align: center;
    }
    h3 {
      font-size: 20pt;
      font-family: "Roboto-Regular", sans-serif;
      margin-bottom: 25px;
      margin-top: 0;
      text-align: left;
    }
    .row {
      p {
        font-size: 16pt;
        font-family: "Roboto-Light", sans-serif;
        margin-bottom: 45px;
        text-align: left;
      }
      ul li { font-size: 16pt; }
    }
  }
  .title-image {
    width: 40vw;
    display: absolute;
    margin-left:auto;
    margin-top: -80px;
    margin-right:auto;
  }
  .page {
      width: 21cm;
      min-height: 29.7cm;
      border-radius: 5px;
      background: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .container.page.row.h2.title {
    font-size: 96pt;
    margin-bottom: 2em;
  }
  .print {
    display: block;
  }
}


@page {
    size: A4;
    margin: 80px 90px 80px 90px;
}
