//= require 'ionicons'

@import "variables";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "compass/css3/font-face";

@include font-face("Roboto-Regular", font-files("roboto-fontface/Roboto-Regular.ttf", "roboto-fontface/Roboto-Regular.eot", "roboto-fontface/Roboto-Regular.svg"));
@include font-face("Roboto-Light", font-files("roboto-fontface/Roboto-Light.ttf", "roboto-fontface/Roboto-Light.eot", "roboto-fontface/Roboto-Light.svg"));

$region-light-color: #fff;
$region-dark-color: #ececec;
$default-space: 30px;

body {
  font-family: "Roboto-Light", sans-serif;
}

img {
  width: 100%;
}

h1 {
  font-family: "Roboto-Light", sans-serif;
  font-size: 3em;
  color: #6c6c6c;
}

h2 {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.8em;
}

h3 {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.1em;
}

.row {
  p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #6c6c6c;
  }
}

.icon-medium {
  font-size: $default-space * 1.5;
}

.icon-large {
  font-size: $default-space * 2;
}

.font-red {
  color: $red-color;
}

.navbar-brand {
  padding: 11px 16px;
}

.region-light {
  background: $region-light-color;
}

.region-dark {
  background: $region-dark-color;
  color: #fff;
}

.space-header {
  margin-top: 90px;
}

.space-l {
  margin-bottom: $default-space;
}

.space-xl {
  margin-bottom: $default-space * 2;
}


.footer {
  font-size: 0.8em;
  color: $gray-light;
  margin: 20px 0;
  padding-top: 20px;
}


// Header

#header {
  background: url(image-path('header.jpg')) center;
  background-size: cover;
  height: 300px;
  border-bottom: 4px solid $red-color;
  position: relative;


  h1 {
    color: #fff;
    font-family: "Roboto-Regular", sans-serif;
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 3em;
    line-height: 1.3em;

    position: absolute;
    left: 0;
    right: 0;
    display: none;
  }
}

@media(min-width: $screen-md-min) {
  #header {
    height: 500px;
    h1 {
      font-size: 4em;
      display: block;
      top: 186px;
      text-shadow: rgba(0,0,0,0.7) 0px 2px 3px;
    }
  }
}
@media(min-width: $screen-lg-min) {
  #header {
    height: 700px;
    h1 {
      font-size: 6em;
      top: 240px;
    }
  }
}


// Bootstrap overrides

.btn-lg, .btn-group-lg > .btn {
  border-radius: 0;
}

#map_canvas {
  height: 400px;
}

#thank_you_message {
  display: none;
}

#error_message {
  display: none;
}

.hint {
  color: red;
}

.valid {
  display: none;
}

textarea { resize:vertical; }

.navbar li{
  cursor: pointer;
}

.float-left {
  float: left;
  &.icon{
    margin-right: 0.3em;
  }
}
