@charset "utf-8";


@import "variables";
@import "uikit/_import";
@import "sites"


// $region-light-color: #fff;
// $region-dark-color: #ececec;
// $default-space: 30px;
//
//
// // the heart is important
// i.ion-heart {
//   color: #D24335;
//   animation:(pulsate 1.9s linear);
//   animation-iteration-count:infinite;
// }
// @media print {
//   .col-xs-12 {
//     margin-left: 7%;
//     width: 100% !important;
//   }
// }
//
// @-webkit-keyframes pulsate {
//   0% {opacity: 0.6;}
//   45% {opacity: 0.8;}
//   55% {opacity: 1;}
//   65% {opacity: 0.8;}
//   70% {opacity: 1;}
//   100% {opacity: 0.6;}
// }
//
// body {
//   font-family: "Roboto-Light", sans-serif;
// }
//
// img {
//   width: 100%;
// }
//
// h1 {
//   font-family: "Roboto-Light", sans-serif;
//   font-size: 3em;
//   color: #6c6c6c;
// }
//
// h2 {
//   font-family: "Roboto-Regular", sans-serif;
//   font-size: 1.8em;
// }
//
// h3 {
//   font-family: "Roboto-Regular", sans-serif;
//   font-size: 1.1em;
// }
//
// .row {
//   p, li{
//     font-size: 1.1em;
//     line-height: 1.6em;
//     color: #6c6c6c;
//     b {
//       font-family: "Roboto-Regular", sans-serif;
//       color: #333333;
//       font-weight: normal;
//     }
//   }
// }
//
// .icon-medium {
//   font-size: $default-space * 1.5;
// }
//
// .icon-large {
//   font-size: $default-space * 2;
// }
//
// .font-red {
//   color: $red-color;
// }
//
// .navbar-brand {
//   padding: 11px 16px;
// }
//
// .region-light {
//   background: $region-light-color;
// }
//
// .region-dark {
//   background: $region-dark-color;
//   //color: #fff;
// }
//
// .space-header {
//   margin-top: 90px;
// }
//
// .space-l {
//   margin-bottom: $default-space;
// }
//
// .space-xl {
//   margin-bottom: $default-space * 2;
// }
// .padding-xl {
//   padding-bottom: $default-space * 2;
// }
//
//
//
// .mlg{
//   margin-top: 3em;
//   margin-bottom: 3em;
// }
//
//
//
// .footer {
//   font-size: 0.8em;
//   color: $gray-light;
//   margin: 20px 0;
//   padding-top: 20px;
// }
//
//
// // Header
//
// #header {
//   background: url(image-path('../source/images/header.jpg')) center;
//   background-size: cover;
//   height: 300px;
//   border-bottom: 4px solid $red-color;
//   position: relative;
//
//
//   h1 {
//     color: #fff;
//     font-family: "Roboto-Regular", sans-serif;
//     text-align: left;
//     margin-left: 20px;
//     font-weight: bold;
//     font-size: 3em;
//     line-height: 1.3em;
//
//     position: absolute;
//     left: 0;
//     right: 0;
//     display: none;
//   }
// }
//
// .wordwrap {
//   word-wrap:break-word;
// }
//
// @media(min-width: $screen-md-min) {
//   #header {
//     height: 500px;
//     h1 {
//       font-size: 4em;
//       display: block;
//       top: 186px;
//       text-shadow: rgba(0,0,0,0.7) 0px 2px 3px;
//     }
//   }
// }
// @media(min-width: $screen-lg-min) {
//   #header {
//     height: 700px;
//     h1 {
//       font-size: 4em;
//       display: block;
//       top: 240px;
//       text-shadow: rgba(0,0,0,0.7) 0px 2px 3px;
//     }
//   }
// }
// @media(max-width: $screen-md-min) {
//   #header {
//     height: 300px;
//     h1 {
//       font-size: 2.7em;
//       display: block;
//       top: 120px;
//       text-shadow: rgba(0,0,0,0.7) 0px 2px 3px;
//     }
//   }
// }
//
// @media print{
//   .col-md-offset-3, .col-lg-offset-2{
//     margin-left: 0 !important;
//   }
//
//   .col-md-6, .col-lg-5 {
//     width: 100% !important;
//   }
//   .no-print, .no-print *{
//     display: none !important;
//   }
//   .page {
//     page-break-after: always;
//     page-break-inside: avoid;
//   }
//   body {
//     a {
//       color: $red-color !important;
//     }
//     a[href]:after {
//     content: none !important;
//     }
//     .icon:before { color:$red-color !important; }
//     .icon {
//       margin-bottom: 20px;
//     }
//     h2 {
//       font-size: 36pt;
//       font-family: "Roboto-Regular", sans-serif;
//       margin-bottom: 15px;
//       margin-top: 50px;
//       text-align: center;
//     }
//     h3 {
//       font-size: 20pt;
//       font-family: "Roboto-Regular", sans-serif;
//       margin-bottom: 10px;
//       margin-top: 0;
//       text-align: left;
//     }
//     .row {
//       p {
//         font-size: 16pt;
//         font-family: "Roboto-Light", sans-serif;
//         margin-bottom: 35px;
//         text-align: left;
//         b {
//           font-weight: normal;
//           font-family: "Roboto-Regular", sans-serif;
//         }
//       }
//       ul li { font-size: 16pt; }
//       p.small-print-margin{
//         margin-bottom: 10px;
//       }
//       p.small.print {
//         position: absolute;
//         bottom: -130px;
//         width: 100%;
//         text-align: center !important;
//       }
//
//     }
//   }
//   .title-image {
//     width: 40vw;
//     display: absolute;
//     margin-left:auto;
//     margin-top: 0px; //Maike: bei zwei Jobstellen -80px (ich weiß nich genau warum)
//     margin-right:auto;
//   }
//   .page {
//       width: 21cm;
//       min-height: 29.7cm;
//       border-radius: 5px;
//       background: white;
//       box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
//   }
//   .container.page.row.h2.title {
//     font-size: 96pt;
//     margin-bottom: 2em;
//   }
//   .print {
//     display: block;
//   }
// }
//
// @media screen {
//   .print {
//     display: none;
//   }
// }
//
// @page {
//     size: A4;
//     margin: 80px 90px 80px 90px;
// }
//
// // Bootstrap overrides
//
// #map_canvas {
//   height: 400px;
// }
//
// #thank_you_message {
//   display: none;
// }
//
// #error_message {
//   display: none;
// }
//
// .hint {
//   color: red;
// }
//
// .valid {
//   display: none;
// }
//
// textarea { resize:vertical; }
//
// .navbar li{
//   cursor: pointer;
// }
//
// .float-left {
//   float: left;
//   &.icon{
//     margin-right: 0.3em;
//   }
// }
//
// .center {
//   text-align: center !important;
// }
//
// .smallWordingSpace {
//   word-spacing: -4pt;
// }
//
// @media only screen and (min-width : 320px) {
//   .hidden-sm-down {display: inline;}
//   .hidden-sm-up {display: none;}
// }
//
// @media only screen and (min-width : 480px) {
//   .hidden-sm-down {display: none;}
//   .hidden-sm-up {display: block;}
// }
//
//
// .coin{
//   perspective: 1000px;
//   border-radius: 100%;
//   margin: auto;
// }
//
// .coin:hover .flipper, .coin.hover .flipper{
//   transform: rotateY(180deg);
// }
//
// .coin, .coin .front, .coin .back{
//   max-height: 256px;
//   max-width: 256px;
//   width: 100%;
//   border-radius: 100%;
// }
//
// .coin .flipper{
//   transition: 0.6s transform ease-in-out;
//   transform-style: preserve-3d;
//
//   position: relative;
//   border-radius: 100%;
// }
//
// .flex-end {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-end;
// }
//
// .coin .front, .coin .back{
//   backface-visibility: hidden;
//
//   position: absolute;
//   top: 0;
//   left: 0;
//
//   img{
//     border-radius: 100%;
//     display: block;
//   }
// }
//
//
// .coin .front{
//   position:relative;
//   overflow:hidden;
//   z-index: 2;
//   transform: rotateY(0deg);
// }
//
// .coin .back{
//   transform: rotateY(180deg);
// }
