@charset "UTF-8";

@font-face {
  font-family: "stacks-website";
  src:url("/fonts/stacks-website.eot");
  src:url("/fonts/stacks-website.eot?#iefix") format("embedded-opentype"),
    url("/fonts/stacks-website.woff") format("woff"),
    url("/fonts/stacks-website.ttf") format("truetype"),
    url("/fonts/stacks-website.svg#stacks-website") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "stacks-website" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "stacks-website" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\61";
}
.icon-smartphone:before {
  content: "\62";
}
.icon-connection-1:before {
  content: "\63";
}
.icon-connection-2:before {
  content: "\64";
}
.icon-plane-paper-1:before {
  content: "\65";
}
.icon-address-1:before {
  content: "\66";
}
.icon-heart:before {
  content: "\67";
}
.icon-apple:before {
  content: "\68";
}
.icon-google:before {
  content: "\69";
}
.icon-playshape:before {
  content: "\6a";
}
.icon-arrange-2:before {
  content: "\6b";
}
.icon-layers:before {
  content: "\6c";
}
.icon-scale-tool-1:before {
  content: "\6d";
}
.icon-stationery-3:before {
  content: "\6e";
}
.icon-upload-2:before {
  content: "\6f";
}
.icon-upload-12:before {
  content: "\70";
}
.icon-loop-3:before {
  content: "\71";
}
.icon-signal-weak:before {
  content: "\72";
}
.icon-infinity:before {
  content: "\73";
}
.icon-network-2:before {
  content: "\74";
}
.icon-icon-pdf:before {
  content: "\78";
}
.icon-icon-pencil-5:before {
  content: "\79";
}
.icon-icon-interaction:before {
  content: "\7a";
}
.icon-lock-2:before {
  content: "\41";
}
.icon-type-1:before {
  content: "\42";
}
.icon-key-1:before {
  content: "\43";
}
.icon-camera-symbol-3:before {
  content: "\44";
}
.icon-bubble-conversation-5:before {
  content: "\46";
}
.icon-bubble-conversation-6:before {
  content: "\45";
}
.icon-photos-1:before {
  content: "\47";
}
.icon-photos-2:before {
  content: "\48";
}
.icon-video-camera-2-1:before {
  content: "\49";
}
.icon-hand-file-2:before {
  content: "\4a";
}
.icon-globe-1:before {
  content: "\4b";
}
.icon-globe-2:before {
  content: "\4c";
}
.icon-script:before {
  content: "\4d";
}
.icon-facebook:before {
  content: "\75";
}
.icon-twitter:before {
  content: "\76";
}
.icon-bars:before {
  content: "\77";
}
